#cabeceras {
    height: 18vh;
}

#tableros {
    height: 50vh;
}

#divStatusDamage {
    height: 25vh;
}

#pie {
    text-align: center;
    justify-content: center;
    background-color: black;
    height: 4vh;
}

.ship-piece {
    background-color: lightseagreen;
}

​ .ship-piece-hited {
    background-color: lightcoral;
    background-image: url("../img/fire.png");
    background-size: cover;
}


/* ​ .salvo {
    background-color: crimson;
} */

.salvo-piece {
    background-color: green;
}

.salvo-piece-finished {
    background-color: lightseagreen
}

.corazones {
    color: red;
    border-color: green;
}

.ship {
    width: 3%;
    height: auto;
}

td {
    padding: 0;
    text-align: center;
}

.games {
    height: 100vh;
    background-color: aqua;
    background-image: url("../img/shipInitial3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.game {
    height: 100vh;
    background-color: aqua;
    background-image: url("../img/timon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.list-group-item {
    background-color: transparent;
    color: black;
}

.table td {
    padding: 0;
}

#btnLoginModal{
    display: inline;
}

th {
    color: azure;
    background-color: grey;
    text-align: center;
}

#shipTable td {
    color: azure;
    text-align: center;
    width: 1vh;
    max-width: 1vh;
    /*  max-width: 2em;
    max-height: 2em;*/
}

#shipTable th,
#salvoTable th,
.th {
    padding: 0;
    width: 2vh;
    height: 2vh;
    text-align: center;
    background-color: grey;
}

#shipTable td,
#salvoTable td {
    width: 2vh;
    height: 2vh;
}

.btnGiro {
    max-width: 3px;
    max-height: 3px;
}

#game-list {
    max-height: 50vh;
    overflow: scroll;
}

.barco {
    background-color: dodgerblue;
}


/* #btnEnviarBarcos {
    display: block;
} */

#btnAddShips,
#btnAddSalvos {
    width: 7em;
    height: 7em;
    border-radius: 50%;
}

#btnCreate {
    display: none;
width: 45vw;
height: 30vh;
    border-radius: 5% , 5%;
    font-size: 1.5em;
    border-color: blanchedalmond;
}

.hidden {
    display: none; 
}


/*
#Submarine {
    background-image: url(../img/barco1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20vh;
}*/

#SubmarineImg {
    width: 20vh;
    height: 10vh;
    background: url(../img/barco1.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.divCorazones {
    width: 150px;
}

.fondo-blanco {
    background-color: rgba(255, 255, 255, 0.6);
}


/*.historial{
    background-color: rgba(255, 255, 255, 0.6);

}
*/


/*#Submarine::after{

       content: url(../img/barco1.svg);
    background-repeat: no-repeat;
    background-size: cover;
background-position: center;
    position: absolute;
z-index: 2;
    width: 9em;
    height: 30px;
}*/