.ship-piece{
    background-color: mediumpurple;
}
​
.ship-piece-hited{
    background-color: darkmagenta;
}
​
.salvo{
    background-color: crimson;
}

 .salvo-piece{
     background-color: crimson;
 }
